<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(`../partials/head.ejs`); %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather in Toronto, Canada</title>
    <style>
        .flag {
            margin-top: 50px;
            border: 3px solid greenyellow;
            border-radius: 50px;
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/davao">Philippines</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Canada</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Japan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">South Korea</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">United States</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="search" placeholder="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<h1>This is Toronto, Canada</h1>
<main>
    <center>
        <div>
            <img class="flag" src="https://cdn-icons-png.flaticon.com/512/197/197561.png?fbclid=IwAR1hDgGbCCzVehC0OmSvvqNf7PEhm6_LYJmHjxLkp_ICct0rEeMCYfe7o8c_aem_AZxmSO_ioiuzrjZHk1JVC-DyvWe2bsvSoaBEIdYijQkjhOENroxd7TXiANMmDisuu_6D6ZMVEw57Pg52pxfQM9IY"/>
            <%=  weathertoronto[0].location.name %>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Day </td>
                        <td>Date </td>
                        <td>Weather Icon </td>
                        <td>Icon </td>
                    </tr>
                </thead>

                <tbody>
                    <tr class="table-dark">
                        <td scope="row">Today</td>
                        <td><%= weathertoronto[1].current.date %></td>
                        <td><%= weathertoronto[1].current.skytext %></td>
                        <td><img src="<%= weathertoronto[1].current.imageUrl %>"></td>
                    </tr>
                    <tr>
                        <td scope="row"><%= weathertoronto[1].forecast[1].day %></td>
                        <td><%= weathertoronto[1].forecast[2].date %></td>
                        <td><%= weathertoronto[1].forecast[2].skytextday %></td>
                        <td><img src="<%= weathertoronto[1].current.imageUrl %>"></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </center>
</main>
</body>
</html>
